/*
* Defining colors
*/

:root{
    --primary-color:#0A1B2B;
    --secondary-color:#00092A;
    --color-green:#14FF00;
    --font-crypto-small:#858585;
    --color-red:#FF0000;
    --color-map-elm:#0A1B2B;
    --color-app-pros:#0F1535;
    --color-map-dots:#18314F;
    --ciolor-logo:#FBC315;
    /*
    *gradient
    */
    --gradient-button:linear-gradient(#3DD8EE, #0997E8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

.header{
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(50px);
}
.container{padding-inline: 30px;}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7em 2em;
}
.logo{
    color: var(--ciolor-logo);
    font-size:1.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar{
    display: flex;
}
.navItems{
    display: flex;
}
.navLink{
    color:white;
    padding: 12px 30px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.navButton{
    border: none;
}

.heroSection{
    
    padding-block: 110px 120px;
}
.green{
    color:var(--color-green);
}
.red{
    color:var(--color-red)
}
main > .container{
    padding: 2em 7em 2em;
    color: white;
    display: flex;
}

.tableHead,
.tableData{
    padding: 8px;
}
.wrapper{
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 10px;
}
.wrapper > a{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.wrapper > a > span{
    color:var(--font-crypto-small);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.heroTitle{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.heroText{
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heroText > .green .red{
    font-weight: 700;
}
